<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Courses</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.course</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog_Single</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Blog_Single</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blog_Single_PostComments</servlet-name>
        <servlet-class>com.unicat.onlinelearning.controller.Blog_Single_PostComments</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Courses</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog_Single</servlet-name>
        <url-pattern>/blog_single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blog_Single_PostComments</servlet-name>
        <url-pattern>/blog_single/postcomments</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
