--USE [master]
--DROP DATABASE [Online Learning]

CREATE DATABASE [Online Learning]
USE [Online Learning]

/****** Object:  Table [dbo].[Answer]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] NULL,
	[QuestionID] [int] NULL,
	[Answer] [int] NULL,
	[AnswerInf] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogFeedback] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogFeedback](
	[BfbID] [int] IDENTITY(1,1) NOT NULL,
	[BlogID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[BfbTitle] [nvarchar](max) NOT NULL,
	[BfbDate] [date] NULL,
 CONSTRAINT [PK_BlogFeedback] PRIMARY KEY CLUSTERED 
(
	[BfbID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogg] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogg](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BlogTitler] [nvarchar](max) NOT NULL,
	[BlogImage] [nvarchar](max) NULL,
	[BlogDescription] [nvarchar](max) NOT NULL,
	[bdate] [date] NULL,
 CONSTRAINT [PK_Blogg] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[CategoryImage] [nvarchar](max) NULL,
	[CategoryInf] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[CmtID] [int] IDENTITY(1,1) NOT NULL,
	[BfbID] [int] NOT NULL,
	[BlogID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CmtTitle] [nvarchar](max) NOT NULL,
	[Cdate] [date] NULL,
 CONSTRAINT [PK_comments_1] PRIMARY KEY CLUSTERED 
(
	[CmtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ContactDetail] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CourseName] [nvarchar](max) NOT NULL,
	[CourseImage] [nvarchar](max) NOT NULL,
	[CourseCreator] [int] NOT NULL,
	[CourseInf] [nvarchar](max) NOT NULL,
	[CourseDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enroll] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll](
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Enroll] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[LessonName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Lesson] PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessondetail] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessondetail](
	[LessonID] [int] NOT NULL,
	[LessondetailID] [int] IDENTITY(1,1) NOT NULL,
	[LessonContent] [nvarchar](max) NOT NULL,
	[LessionImage] [nvarchar](max) NOT NULL,
	[LessonDescription] [nvarchar](max) NOT NULL,
	[LessonVideo] [nvarchar](max),
 CONSTRAINT [PK_Lessondetail] PRIMARY KEY CLUSTERED 
(
	[LessondetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] NOT NULL,
	[QuestionInf] [nvarchar](max) NULL,
	[CorrectAnswer] [int] NULL,
	[QuizID] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[vote] [int] NOT NULL,
	[ReviewDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Gmail] [nvarchar](max),
	[PassWord] [nvarchar](max),
	[Phone] [nvarchar](max) NOT NULL,
	[Dob] [date] NOT NULL,
	[Admin] [bit] NOT NULL,
	[Student] [bit] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO


INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Answer], [AnswerInf]) VALUES (1, 1, 1, N'printf("Hello World");  ')
INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Answer], [AnswerInf]) VALUES (2, 1, 2, N'System.out.printline("Hello World");')
INSERT [dbo].[Answer] ([AnswerID], [QuestionID], [Answer], [AnswerInf]) VALUES (3, 1, 3, N'Console.WriteLine("Hello World");')
GO
SET IDENTITY_INSERT [dbo].[BlogFeedback] ON 

INSERT [dbo].[BlogFeedback] ([BfbID], [BlogID], [UserID], [BfbTitle], [BfbDate]) VALUES (54, 1, 1, N'1234', CAST(N'2022-07-24' AS Date))
INSERT [dbo].[BlogFeedback] ([BfbID], [BlogID], [UserID], [BfbTitle], [BfbDate]) VALUES (56, 27, 1, N'ngfhdsh', CAST(N'2022-07-24' AS Date))
INSERT [dbo].[BlogFeedback] ([BfbID], [BlogID], [UserID], [BfbTitle], [BfbDate]) VALUES (57, 27, 1, N'no', CAST(N'2022-07-24' AS Date))
SET IDENTITY_INSERT [dbo].[BlogFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Blogg] ON 

INSERT [dbo].[Blogg] ([BlogID], [UserID], [BlogTitler], [BlogImage], [BlogDescription], [bdate]) VALUES (7, 4, N'1123', N'images/1.jpg', N'dsvsdf', CAST(N'2022-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[Blogg] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryImage], [CategoryInf]) VALUES (1, N'HTML and CSS', N'https://media.proglib.io/posts/2020/12/06/62cf6bd0938fda2f588142b86920161a.png', N'HTML (HyperText Markup Language) : is a markup language designed to create web pages, that is, pieces of information presented on the World Wide Web. CSS (Cascading Style Sheets) : defines how an HTML document should be displayed. CSS is especially useful in Web design.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryImage], [CategoryInf]) VALUES (2, N'JavaScript', N'https://vietnix.vn/wp-content/uploads/2021/07/javascript-la-gi.webp', N'JavaScript is a popular website programming language today, it is integrated and embedded in HTML to make the website more vivid. JavaScript acts as part of the web page, the executable allows client-side scripts from both the user side as well as the server side (Nodejs) to create dynamic web pages.')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryImage], [CategoryInf]) VALUES (3, N'Server Side', N'http://softwarebrothers.co/blog/content/images/2019/10/Blogpost-1.png', N'Server side is a script commonly used by the server to let users customize the website they are visiting. Server side is a technique used to develop websites. Besides providing the display of website files, it also responds to the server about the visitor''s customizations to the website.')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([CmtID], [BfbID], [BlogID], [UserID], [CmtTitle], [Cdate]) VALUES (10, 54, 1, 1, N'hay', CAST(N'2022-07-24' AS Date))
INSERT [dbo].[comments] ([CmtID], [BfbID], [BlogID], [UserID], [CmtTitle], [Cdate]) VALUES (12, 56, 27, 1, N'gggg', CAST(N'2022-07-24' AS Date))
INSERT [dbo].[comments] ([CmtID], [BfbID], [BlogID], [UserID], [CmtTitle], [Cdate]) VALUES (13, 56, 27, 1, N'123', CAST(N'2022-07-24' AS Date))
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseID], [CategoryID], [CourseName], [CourseImage], [CourseCreator], [CourseInf], [CourseDescription]) VALUES (2, 1, N'CSS', N'https://t3.ftcdn.net/jpg/04/40/47/34/360_F_440473457_oZ4blIQBcwM718DNiPmx26nEeUIEHB5v.jpg', 1, N'Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.', N'CSS is used to describe the presentation of documents written in the HTML and XHTML languages. In addition, layered stylesheets can also be used for XML, SVG, and XUL. The CSS specification is maintained by the World Wide Web Consortium (W3C). Instead of placing tags that style HTML (or XHTML) text right within its content, you should use CSS.
The effect of CSS
Minimizes messing up the HTML code of the Web page with style-specific tags (bold, italic, underlined, colored text), making the source code of the Web page neater, separating the content of Web page and display format, easy for content updating.
Create styles that can be applied to multiple Web pages, helping to avoid repeating formatting for the same Web pages.')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[Enroll] ([UserID], [CourseID], [EnrollDate]) VALUES (1, 2, GETDATE())
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([LessonID], [CourseID], [LessonName]) VALUES (1, 4, N'C Intro')
INSERT [dbo].[Lesson] ([LessonID], [CourseID], [LessonName]) VALUES (2, 4, N'C Comment')
INSERT [dbo].[Lesson] ([LessonID], [CourseID], [LessonName]) VALUES (3, 4, N'C Functions')
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessondetail] ON 

INSERT [dbo].[Lessondetail] ([LessonID], [LessondetailID], [LessonContent], [LessionImage], [LessonDescription]) VALUES (1, 3, N'What is C?', N'', N'C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972.

It is a very popular language, despite being old.

C is strongly associated with UNIX, as it was developed to write the UNIX operating system.

')
INSERT [dbo].[Lessondetail] ([LessonID], [LessondetailID], [LessonContent], [LessionImage], [LessonDescription]) VALUES (1, 4, N'Difference between C and C++', N'', N'C++ was developed as an extension of C, and both languages have almost the same syntax
The main difference between C and C++ is that C++ support classes and objects, while C does not')
INSERT [dbo].[Lessondetail] ([LessonID], [LessondetailID], [LessonContent], [LessionImage], [LessonDescription]) VALUES (2, 5, N'Comments in C', N'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20191113114930/Comments.png', N'Comments can be used to explain code, and to make it more readable. It can also be used to prevent execution when testing alternative code.

Comments can be singled-lined or multi-lined.')
INSERT [dbo].[Lessondetail] ([LessonID], [LessondetailID], [LessonContent], [LessionImage], [LessonDescription]) VALUES (10, 39, N'NUCreate a MethodLL', N'https://linuxhint.com/wp-content/uploads/2022/02/methods-java-01.png', N'A method must be declared within a class. It is defined with the name of the method, followed by parentheses (). Java provides some pre-defined methods, such as System.out.println(), but you can also create your own methods to perform certain actions:

Example
Create a method inside Main:

public class Main {
  static void myMethod() {
    // code to be executed
  }
}
 
Example Explained
myMethod() is the name of the method
static means that the method belongs to the Main class and not an object of the Main class. You will learn more about objects and how to access methods through objects later in this tutorial.
void means that this method does not have a return value. You will learn more about return values later in this chapter
')
SET IDENTITY_INSERT [dbo].[Lessondetail] OFF
GO
INSERT [dbo].[Question] ([QuestionID], [QuestionInf], [CorrectAnswer], [QuizID]) VALUES (1, N'What is a correct syntax to output "Hello World" in C?', 1, 2)
INSERT [dbo].[Question] ([QuestionID], [QuestionInf], [CorrectAnswer], [QuizID]) VALUES (2, N'Which operator is used to add together two values?', 1, 3)
INSERT [dbo].[Question] ([QuestionID], [QuestionInf], [CorrectAnswer], [QuizID]) VALUES (3, N'Which operator can be used to find the memory size (in bytes) of a data type or variable?', 3, 4)
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([QuizID], [LessonID]) VALUES (2, 1)
INSERT [dbo].[Quiz] ([QuizID], [LessonID]) VALUES (3, 2)
INSERT [dbo].[Quiz] ([QuizID], [LessonID]) VALUES (4, 3)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [PassWord], [Phone], [Dob], [Admin], [Student], [Name]) VALUES (1, N'ANHNT', N'123', '123456789', CAST(N'2005-12-04' AS Date), 1, 0, 'Nguyen Tuan Anh')
INSERT [dbo].[User] ([UserID], [UserName], [PassWord], [Phone], [Dob], [Admin], [Student], [Name]) VALUES (2, N'TUANLN', N'123', '210011001', CAST(N'2005-12-04' AS Date), 1, 0, 'Le Nam Tuan')
INSERT [dbo].[User] ([UserID], [UserName], [PassWord], [Phone], [Dob], [Admin], [Student], [Name]) VALUES (3, N'MANHND', N'123', '210011001', CAST(N'2005-12-04' AS Date), 1, 0, 'Nguyen Dinh Manh')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
GO
ALTER TABLE [dbo].[BlogFeedback]  WITH CHECK ADD  CONSTRAINT [FK_BlogFeedback_Blogg] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blogg] ([BlogID])
GO
ALTER TABLE [dbo].[BlogFeedback] CHECK CONSTRAINT [FK_BlogFeedback_Blogg]
GO
ALTER TABLE [dbo].[BlogFeedback]  WITH CHECK ADD  CONSTRAINT [FK_BlogFeedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[BlogFeedback] CHECK CONSTRAINT [FK_BlogFeedback_User]
GO
ALTER TABLE [dbo].[Blogg]  WITH CHECK ADD  CONSTRAINT [FK_Blogg_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Blogg] CHECK CONSTRAINT [FK_Blogg_User]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_BlogFeedback] FOREIGN KEY([BfbID])
REFERENCES [dbo].[BlogFeedback] ([BfbID])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_BlogFeedback]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_Blogg] FOREIGN KEY([BlogID])
REFERENCES [dbo].[Blogg] ([BlogID])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_Blogg]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_User]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_Course]
GO
ALTER TABLE [dbo].[Enroll]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Enroll] CHECK CONSTRAINT [FK_Enroll_User]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Lesson_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Lesson_Course]
GO
ALTER TABLE [dbo].[Lessondetail]  WITH CHECK ADD  CONSTRAINT [FK_Lessondetail_Lesson] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Lessondetail] CHECK CONSTRAINT [FK_Lessondetail_Lesson]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([QuizID])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Lesson] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Lesson]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Course]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
USE [master]
GO
